[submodule "home/.config/.ff/firefox-csshacks"]
	path = packages/firefox/.config/firefox/firefox-csshacks
	url = https://github.com/MrOtherGuy/firefox-csshacks
[submodule "home/.config/.ff/UserChrome-Tweaks"]
	path = packages/firefox/.config/firefox/UserChrome-Tweaks
	url = https://github.com/Timvde/UserChrome-Tweaks
